// avoid importing entire .scss as it might cause duplicate css styles
// @import '~bootstrap/scss/bootstrap.scss'
// safer to import variables and mixins only to avoid duplicate css styles
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';


.card-columns {
  @include media-breakpoint-up(xs) {
     column-count: 1;
  }
  @include media-breakpoint-up(md) {
     column-count: 2;
  }
  @include media-breakpoint-up(lg) {
     column-count: 3;
  }
  @include media-breakpoint-up(xl) {
     column-count: 4;
  }
}

.list-group-item {
  background-color: gray("100");
  border-style: solid;
  border-color: #f5f5f5;
}

.list-group-item:hover {
  background-color: gray("400");
  cursor: pointer;
}

.list-group-item.active {
  background-color: gray("100");
  border-style: solid;
  border-color: gray("500");
}

.card-header{

  background-color: gray("200");
  cursor: pointer;
}

.card-header.collapsed:hover{

  background-color: gray("400");
  cursor: pointer;
}
.card-header.collapsed{

  background-color: gray("200");
  cursor: pointer;
}
.card.shadow.hover{
  box-shadow: 0.5rem;
}

.flexChild{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#btnCollapseCategories, #btnCollapseFilter {
  min-width: 285px; // Width on IPhone SE
}
