// .carousel {
//     width: 100%;
// }

// .carousel-item {
//     height: 65vh;
//     min-height: 350px;

//     width: 100%;
// }

.img-fluid {
    height: 90%;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
  filter: invert(100%);
}

.carousel-indicators{
  top: 0;
  height: 10px;
}
