<div class="container-fluid">
  <section id="secHomePage">
    <h2 class="sr-only">Home Page</h2>
    <!-- rubric04 rubric05 -->
    <section id="secWelcome">
      <h2 class="sr-only">Welcome Text</h2>
      <div>
        <div id="rubric04" class="title3">
          Welcome to
        </div>
        <div id="rubric05" class="title2">
          World Wide Importers!
        </div>
      </div>
    </section>
    <section id="secCarousel">
      <h3 class="sr-only">Carousel with featuring Items</h3>
      <div id="carouselPackageMd" class="d-none d-sm-inline-block w-100">
        <div>
          <div class="d-inline-flex align-items-baseline">
            <!-- rubric06 -->
            <span>Toggle Slide Show</span>
            <button id="btnToggleCarouselMd" class="btn btn-outline-dark m-2" type="button" data-toggle="button"
              aria-pressed="false" autocomplete="off" (click)="toggleCarousel()">
              Stop
            </button>
            <!-- rubric05 rubric12 for Media >=MD -->
            <button id="btnShopAllMd" class="btn btn-outline-dark m-2" type="button" routerLink="/shopping"
              routerLinkActive>Shop
              All
              <fa name="tag"></fa>
            </button>

          </div>

        </div>
        <!-- rubric01 rubric11 for Media >=MD -->
        <div id="carouselMd" class="carousel slide" data-ride="carousel" [attr.data-pause]="false">
          <ol class="carousel-indicators">
            <li *ngFor="let featuringItems of featuringItemGroup; index as i" data-target="#carouselMd"
              [attr.data-slide-to]="i" [class.active]="i==0">
            </li>
          </ol>
          <div class="carousel-inner">
            <div id="rubric10" *ngFor="let featuringItems of featuringItemGroup; index as j" class="carousel-item pt-3"
              [class.active]="j==0">
              <div class="d-flex justify-content-center align-items-end">
                <div *ngFor="let item of featuringItems[&quot;items&quot;]; index as k" class="d-flex justify-content-center ">
                  <div class="flex-col">
                      <div>
                          <picture>
                            <source
                              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=550' : ''}}"
                              media="(min-height:1600px)">
                            <source
                              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=400' : ''}}"
                              media="(min-height:1200px)">
                            <source
                              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=300' : ''}}"
                              media="(min-height:900px)">
                            <source
                              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=200' : ''}}"
                              media="(min-height:600px)">
                            <img
                              src="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=500' : ''}}"
                              appImgFallback alt="{{item ? item.name : 'Product-Product'}}" class="clickableImage img-fluid"
                              (click)="goToProduct(item ? item.name : '')">
                          </picture>
                        </div>
                        <div>
                          {{item ? item.name : ''}} {{item ? ': ' : ''}} {{item ? (item.price | currency) : ''}}
                        </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <a id="rubric08" class="carousel-control-prev" href="#carouselMd" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon dark" aria-hidden="true"></span>
            <span id="rubric02" class="sr-only">Previous</span>
          </a>
          <a id="rubric07" class="carousel-control-next" href="#carouselMd" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span id="rubric03" class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div id="carouselPackageXs" class="d-inline-block d-sm-none">
        <div class="d-inline-flex align-items-baseline flex-wrap">
          <!-- rubric06 -->
          <span>Slide Show</span>
          <button id="btnToggleCarouselXs" class="btn btn-outline-dark m-1" type="button" data-toggle="button"
            aria-pressed="false" autocomplete="off" (click)="toggleCarousel()">
            Stop
          </button>
          <!-- rubric05 rubric12 for Media XS & SM -->
          <button id="btnShopAllXs" class="btn btn-outline-dark m-1" type="button" routerLink="/shopping"
            routerLinkActive>Shop All
            <fa name="tag"></fa>
          </button>
        </div>
        <!-- rubric01 rubric11 for Media XS & SM -->
        <div id="carouselXs" class="carousel slide" data-ride="carousel" [attr.data-pause]="false">
          <ol class="carousel-indicators">
            <li *ngFor="let item of featuringItems; index as i" data-target="#carouselXs" [attr.data-slide-to]="i"
              [class.active]="i==0">
            </li>
          </ol>
          <div class="carousel-inner">
            <div id="rubric10Xs" *ngFor="let item of featuringItems; index as j" class="carousel-item pt-3"
              [class.active]="j==0">
              <div class="row justify-content-center">
                <img id="rubric09Xs"
                  src="{{item ? '//images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&w=200&h=200&t=fitup' : ''}}"
                  appImgFallback alt="{{item ? item.name : 'Product-Product'}}" class="img-fluid"
                  (click)="goToProduct(item ? item.name : '')">
              </div>
              <div>{{item ? item.name : ''}} {{item ? ': ' : ''}} {{item ? (item.price | currency) : ''}}</div>
            </div>
          </div>
        </div>
        <a id="rubric08Xs" class="carousel-control-prev" href="#carouselXs" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon dark" aria-hidden="true"></span>
          <span id="rubric02Xs" class="sr-only">Previous</span>
        </a>
        <a id="rubric07Xs" class="carousel-control-next" href="#carouselXs" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span id="rubric03Xs" class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </section>
</div>
