<div class="container-fluid">
  <section id="secProductPage">
    <h2 class="sr-only">Product-Page</h2>
    <div class="row" *ngIf="item$ | async as item">
        <div class="col-sm-6 col-md">
          <picture>
            <source
              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=1400' : ''}}"
              media="(min-height:1600px)">
            <source
              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=1000' : ''}}"
              media="(min-height:1200px)">
            <source
              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=700' : ''}}"
              media="(min-height:900px)">
            <source
              srcset="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=400' : ''}}"
              media="(min-height:600px)">
            <img id="rubric36"
              src="{{item ? 'https://images.weserv.nl/?url=' + item.imagelink.split(' ').join('%20') + '&h=300' : ''}}"
              appImgFallback alt="{{item ? item.name : 'Product-Image'}}" class="img-fluid">
          </picture>
        </div>
        <div class="col-sm-6 col-md-auto">
          <div class="card text-center shadow-lg">
            <div class="card-header bg-secondary text-white">
              <div id="rubric35" class="card-title title2">{{item.name}}</div>
              <p>Rating</p>
              <ul id="rubric37" class="list-inline">
                <li class="list-inline-item" *ngIf="item.rating > 0">
                  <fa name="star" inverse="true"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating < 1">
                  <fa name="star"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating > 1">
                  <fa name="star" inverse="true"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating < 2">
                  <fa name="star"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating > 2">
                  <fa name="star" inverse="true"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating < 3">
                  <fa name="star"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating > 3">
                  <fa name="star" inverse="true"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating < 4">
                  <fa name="star"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating > 4">
                  <fa name="star" inverse="true"></fa>
                </li>
                <li class="list-inline-item" *ngIf="item.rating < 5">
                  <fa name="star"></fa>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="title4">category: {{item.category}}</div>
              <div class="title5">subcategory: {{item.subcategory}}</div>
              <br>
              <p id="rubric40" class="card-text">{{item.description}}</p>
              <p id="rubric39">price: {{item.price | currency}}</p>
              <p id="rubric38">stock: {{item.stock}}</p>
              <div id="outOfStockAlert" hidden class="alert alert-danger alert-dismissible show fade alertLeftAligned">
                Out of Stock
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="notAllowedAlert" hidden class="alert alert-danger alert-dismissible show fade alertLeftAligned">
                Not Allowed
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="form-inline" (ngSubmit)="onSubmit(item)" #stockForm="ngForm">
                <div class="input-group mb-3" id="plusMinus">
                  <div class="input-group-prepend pb-2">
                    <label for="amount" id="rubric42" class="col-sm-2 col-form-label pr-2">Qty</label>
                  </div>
                  <input id="amount" [(ngModel)]="stockManipulator.amount" name="amount" class="form-control pb-2"
                    type="number" placeholder=0 aria-label="PlusMinus" aria-describedby="btnAdd">
                  <div class="input-group-append pb-2">
                    <button class="btn btn-outline-secondary" type="button" id="btnPlus"
                      (click)="onIncrementAmount(item)">
                      <fa name="plus"></fa>
                    </button>
                  </div>
                  <div class="input-group-append pb-2">
                    <button class="btn btn-outline-secondary" type="button" id="btnMinus"
                      (click)="onDecrementAmount(item)">
                      <fa name="minus"></fa>
                    </button>
                  </div>
                  <div class="input-group-append pb-2">
                    <button id="rubric41rubric44" type="submit" class="btn btn-outline-primary"
                      [disabled]="!stockForm.form.valid" Submitid="btnAdd">Add To Cart <fa name="cart-plus"></fa>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer bg-secondary text-white">
              <div class="container">
                <div class="row">
                  <div class="col-auto mr-auto my-1">
                    <a id="rubric43rubric45" class="btn btn-outline-light" (click)="onBackClick()" role="button">Back
                      <fa name="tag"></fa></a>
                  </div>
                  <div class="col-auto my-1">
                    <a name="btnCart" id="btnCart" class="btn btn-outline-light" [routerLink]='["/cart"]'
                      role="button">Go
                      to Cart <fa name="shopping-cart"></fa></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>
