form {
  text-align: left;
}

.alertLeftAligned{
  text-align: left;
}

.alertFormValidation{
  height: 0,5rem;;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 0.25rem solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 0.25rem solid #a94442; /* red */
}


.headerCell{
  text-align: left;
 }

.clickableCell{
 text-align: left;
  cursor: pointer;
}
